<div class="nested-fields">
  <div class="act">

   <div class="box_delete">
    <div class="repetition_fields_all">
      <%= f.text_field :name, class: "form-control repetition_new", placeholder: "学習内容(最大30文字)" %>
    </div>
    <div class="repetition_fields_all">
     <%= f.text_field :period, class: "form-control repetition_new", placeholder: "学習期間(最大100日)" %>
    </div>
    <div class="repetition_fields_all">
     <%= f.text_field :memo, class: "form-control repetition_new", placeholder: "メモ(最大30文字)" %>
    </div>
   </div>

   <div class="box_delete">
      <%= link_to_remove_association "", f, class: "fas fa-backspace delete-icon" %>
   </div>
  </div>
</div>
