<%= link_to 'イベント投稿',  new_rooad_path %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %> 

<h1>口コミ一覧</h1>

<% @rooads.each do |rooad|%>
  <%= render 'post', rooad: rooad %>
 
<% end %>

