/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  @import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";

$color-all: #F9F8F4;
body {
  background-color: $color-all;
}


// パンくず
.breadcrumbs {
  display:flex;
  font-size: 15px;
  margin: 20px 0 7px 10px;
   a{
     color: #444444;
   }
   span{
    color: #666666;
   }
}

.nickname_all{
  font-size: 12px;
  margin-left: 20px;
  color: #FF6E00;
}

.page{
  text-align: center;
  margin-top: 40px;
}

.page_top{
  text-align: center;
}

ul.pagination li .page-link{
  border-radius: 50%;
  border: none;
  background-color: #F9F8F4;
  margin: 0 3px;
}

ul.pagination li.active .page-link{
  border-radius: 50%;
  background-color: #FFA500;
  color: white;
  border: none;
}


