// Place all the styles related to the rooads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-control{
  width: auto;
}

.ko{
  padding-left: 16px;
  width: auto;
}

// 削除・編集ボタン
.btn-danger {
  text-decoration: none;
  background-color: #fff!important;
}

.edit-btn {
  font-size: 35px;
  color: #FA9797;
}
 
.delete-btn {
  font-size: 35px;
  color: #FA9797;
}

// トップページ/ユーザー画像
.card__img {
  border-radius: 50%;  
  width:  90px;       
  height: 90px;      
}